fastapi
uvicorn[standard]
python-multipart
chromadb
sentence-transformers
scikit-learn
networkx
google-generativeai
python-dotenv
torch
transformers
numpy
pandas
pymupdf
python-docx
tqdm
openai
openai-whisper
pydantic
motor
pymongo